// COLOR VARIABLES
$color-primary: #171544;

$color-secondary: #474a51;
$color-secondary-dark: #2e3035;

$color-tertiary: #1bb76e;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$border: 1px solid #f4f2f2;